/*
.right-des img{
width:100%;
}*/



li{
list-style-type: none;
}

.heading{
display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

h1{

font-family: cursive;
    font-style: italic;
    font-size: 29px;
    font-weight: 80;
}

.left-des {
  width: 400px;
  text-align: center; /* Set a width if you like */
}

.left-des a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
    font-family: cursive;
    font-size: 17px
}

.left-des a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.left-des a.active {
  background-color: gray; /* Add a gray color to the "active/current" link */
  color: white;
}


.container {
  position: relative;
 padding:25px;
 width: 70%;
    height: 400px;
}

.image {
  opacity: 1;
  
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:#a7adab;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
